@import 'variables';
@import "settings";
@import "foundation";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


// Fonts
@import url(http://fonts.googleapis.com/css?family=Signika:400,600,700,300);

// Foundation related node styles
// .row {
//   margin: 0;
// }


// Native Node
html,
body {
  margin:0;
  padding:0;
  height:100%;
  background-color: $primary-color;
  font: 100% $font-stack;
//background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/reader/bg.png');
  
  
  //margin: 0 auto;
  // -webkit-background-size: cover;
  //    -moz-background-size: cover;
  //      -o-background-size: cover;
  //         background-size: cover;
}

// .display {
//   display: none;
// }
#container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-container{
  color: #222;
  background: rgba(255,255,255,.9);
  //border-spacing: 2px;
  border-color: $secondary-color;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

ul{
  display: inline-block;

  li {
    list-style: none;
  }
}

.title{
  background-color: $secondary-color;
  
  cursor: pointer;
  p {
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;  
  }
   
}


.block{
  padding-top: 7px;
  padding-bottom: 7px;
}
.apply{
  float: right;
}

.description {
  //display: none;
  padding-top: 10px;
  padding-bottom: 10px;

  .block p {
    margin-top: 0px;
    font-size: 16px;
    color: $secondary-color;
  }
}

#footer{
  width:100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
// .current{
//   background: rgba(206,220,206,.9);
// }