div#footer.row
  div.small-12.large-12.columns
    p Copyright (c) foobar
block script
  script(type="text/javascript" src="../components/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="../components/foundation/js/foundation.min.js")
  script(type="text/javascript" src="js/app.js")