head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(charset="UTF-8")
  block title
    title Jobs|trustious
  block css
    link(rel = 'stylesheet' href = 'css/app.css')
  block js
    script(src="../components/modernizr/modernizr.js")